@font-face {
    font-family: 'HelveticaNeueLight';
    src: url("../fonts/HelveticaNeueCyr-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url("../fonts/HelveticaNeueCyr-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #d3d8e2;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    color: #5a5e66;
}

.container {
    height: 100%;
}

.menu {
    background-color: #d3d8e2;
    padding: 49px 30px 30px 30px;
}

.name {
    font-size: 15px;
    margin-bottom: 27px;
    padding-left: 10px;
}

.nav-pills li a {
    font-size: 15px;
    color: #5a5e66;
    border-radius: 2px;
    padding-left: 10px;
}

    .nav-pills li a:hover {
        background-color: #d3d8e2;
        color: #ffffff;
    }

.nav-pills hr {
    border-top: 1px solid #5a5e66;
    opacity: .1;
}

.exit {
    opacity: .6;
}

.base {
    background-color: #ffffff;
    padding: 40px 40px 0 40px;
    min-height: 100%;
    border: 1px solid #cecbce;
}

.title {
    font-size: 24px;
    font-family: HelveticaNeueLight, Arial, sans-serif;
    ;
}

.buttonTop {
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 2px;
}

table {
    margin-top: 60px;
}

.table tr > th, .bottom .categoryname {
    color: #5a5e66;
    opacity: .6;
    font-size: 9px;
}

.table tr > td {
    font-size: 15px;
}

.table tbody tr:hover {
    background-color: gray;
    cursor: pointer;
}

.table.nohover tbody tr:hover {
    background-color: white;
}

.Selected {
    background-color:#DDDDDD;

}

.bottom {
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: #f0f2f5;
    width: 100%;
    left: 0;
}

.category {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}

.green {
    color: #3ec172;
}

.cornflower {
    color: #755bee;
}

.cerise-red {
    color: #e73f72;
}

.rejected {
    opacity: .6;
}

.glyphicon.glyphicon-one-fine-dot:before {
    position: relative;
    content: "\25cf";
    font-size: 1em;
    margin-left: -15px;
    top: -1px;
}

.forload {
    position: absolute;
    border: 1px dashed #5a5e66;
    opacity: .6;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 70px;
    text-align: center;
}

    .forload .title {
        margin-top: 300px;
        opacity: 1.1;
        color: #000000;
    }


.modalform {
    padding-top: 20px;
    float: left;
    width: 300px;
    /*height: 240px;*/
    background-color: #ffffff;
    border: 1px solid black;
}

    .modalform input, .modalform select, .modalform .btn {
        font-size: 15px;
        border-radius: 2px;
        !important;
    }

    .modalform .btn {
        width: 100%;
        height: 40px;
    }

    .modalform .btn-default {
        background-color: #9BA2AD;
        color: #ffffff;
    }

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.symbol {
    position: absolute;
    top: 12px;
    left: 235px;
    opacity: 0.6;
    font-size: 10px;
}

.nv-file-over {
    border: 3px dashed #5a5e66;
}

.modal-backdrop {
    
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: blue;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    height: auto;
    background-color: white;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.error {
    color: red;
}

.modalCustom {
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

.modalContainer {
    /*min-width:1300px;*/
}

.imageSize {
    max-width: 800px;
}

.doc {
    float: left;
    width: 800px;
    text-align: right;
}
.arrow {
    height:100%;
}

   .blockButton {
       
        right: 140px;
    }

@media screen and (max-width:1200px) {
    .imageSize {
        max-width: 300px;
    }

    .doc {
        float: left;
        width: 300px;
        text-align: right;
    }
    .arrow {
        display:none;
    }
}

@media screen and (max-width:550px) {

    .blockButton {
        position:absolute;
      top: 85px;
        right: 40px;
    }

    .imageSize {
        max-width: 300px;
    }
     .arrow {
        display:none;
    }

    .doc {
        float: left;
        width: 300px;
        text-align: right;
    }

    .menu {
        display: none;
    }

    .base {
        padding: 40px 0px 0px 10px;
    }

    .container {
        padding: 0px;
    }

    .category {
        float: left;
        margin-left: 25px;
        margin-top: 10px;
    }

    .table tr > td {
        font-size: 11px;
    }

    .modal-open {
        position: fixed;
        width: 100%;
        overflow: hidden;
    }
}
