<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Deploy\SocialPackage.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>SocialPackage</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="EfDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=127.0.0.1;Initial Catalog=SocialPackagePublish;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SocialPackage.Infrastructure.EfDbContext, SocialPackage" MigrationConfiguration="SocialPackage.Migrations.Configuration, SocialPackage" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EfDbContext-Web.config Connection String">
      <ParameterValue>Data Source=127.0.0.1;Initial Catalog=SocialPackagePublish;Persist Security Info=True;User ID=sa;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>