<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.85</MSDeployServiceURL>
    <DeployIisAppPath>aktiv-social</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>AKTIV\murzenkov</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SocialPackage.EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.0.134;Initial Catalog=social_db;User ID=ark;Password=DSFDs32423TTgg$$g5" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=127.0.0.1;Initial Catalog=SocialPackagePublish;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SocialPackage.EFDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=127.0.0.1;Initial Catalog=SocialPackagePublish;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SocialPackage.EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.134;Initial Catalog=social_db;User ID=ark;Password=DSFDs32423TTgg$$g5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>